<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href='../styles/style.css'>
    <script src='../scripts/navActive.js'></script>
    <script src='../scripts/loadTime.js'></script>
</head>
<body>
    {{> header}}
    <main>
      {{#each products}}
        <div style='font-size: larger'>{{name}} price:{{price}} size:{{size}}</div>
        <div>{{description}}</div>
        <button style='margin-bottom: 20px'>Order</button>
        <button>delete</button>
      {{/each}}
    </main>
    {{> footer}}
</body>
</html>