
<footer>
  <div class="load">
    <script id="load-time" type='text/x-handlebars-template'>
      
    </script>
  </div>
  <ul class="footer-list">
    <li class="button tile">
      <a href='gallery.hbs'>галлерея</a>
    </li>
    <li class="button tile">
      <a href='delivery.hbs'>доставка</a>
    </li>
    <li class="button tile">
      <a href='posts.hbs'>посты</a>
    </li>
  </ul>
  <div class="back-to-top button tile">
    <a href="#top">back to top</a>
  </div>
</footer>