<header>
  <div class="banner-wrapper">
    <div class="social-links-wrapper">
      <a href="https://t.me/linderfull">
        <div class="telegram"></div>
      </a>
      <a href="">
        <div class="instagram"></div>
      </a>
    </div>
    <div class="logo-wrapper">
      <a id="top" href="/">
        <span>Linderfull</span>
      </a>
    </div>
  </div>
  <nav class="navigation-wrapper">
    <ul class="nav-list">
      <li class="button tile">
        <a href="/">главная</a>
      </li>
      <li class="button tile">
        <a href='gallery'>галлерея</a>
      </li>
      <li class="button tile">
        <a href='posts'>посты</a>
      </li>
      <li class="button tile">
        <a href='about'>linderfull</a>
      </li>
    </ul>
  </nav>
</header>